<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Social Network</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="SocialNetwork">

<div ng-controller="NavbarController" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <a href="#/" class="navbar-brand"><i class="ion-images"></i> Social Network</a>
            <li><a href="#/">Home</a></li>
            <li ng-if="!isAuthenticated()"><a href="#/login">Log in</a></li>
            <li ng-if="!isAuthenticated()"><a href="#/register">Register</a></li>
            <li ng-if="isAuthenticated()"><a href="#/editProfile">Edit Profile</a></li>
            <li ng-if="isAuthenticated()"><a href="#/changePassword">Change Password</a></li>
            <li ng-if="isAuthenticated()"><a ng-click="logout()" href="">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="isAuthenticated() && name">
                <a href="#/newsFeed">
                    <img class="media-object img-rounded thumbnail" data-ng-src="{{profilePic}}">&nbsp;
                    {{name}}
                </a>
            </li>
        </ul>
    </div>
</div>

<div ui-view></div>

<script src="js/libs/angular.min.js"></script>
<script src="js/libs/ui.router.js"></script>
<script src="js/libs/angular-messages.min.js"></script>

<!--Modules-->
<script src="js/modules/app.js"></script>

<!--Controllers-->
<script src="js/controllers/DetailController.js"></script>
<script src="js/controllers/HomeController.js"></script>
<script src="js/controllers/LoginController.js"></script>
<script src="js/controllers/NavbarController.js"></script>
<script src="js/controllers/RegisterController.js"></script>
<script src="js/controllers/ChangePasswordController.js"></script>
<script src="js/controllers/EditProfileController.js"></script>

<!--Directives-->
<script src="js/directives/compareTo.js"></script>
<script src="js/directives/file.js"></script>

<!--Services-->
<script src="js/services/api.js"></script>
<script src="js/services/storage.js"></script>
<script src="js/services/errorHandler.js"></script>

<!--Filters-->

</body>
</html>