<table>
    <tbody>
    <tr ng-if="state==='friends'" ng-repeat="friend in friends">
        <td>
            <a href="#/users/{{friend['username']}}">
                <img ng-if="friend['profileImageData']"
                     class="media-object img-rounded thumbnail pull-right"
                     data-ng-src="{{friend['profileImageData']}}">
                <img ng-if="!friend['profileImageData']"
                     class="media-object img-rounded thumbnail pull-right"
                     src="images/no_photo_available.jpg" alt="No profile picture"/>
                {{friend['name']}}
            </a>
        </td>
    </tr>

    <tr ng-if="!(state==='friends')" ng-repeat="friend in friends | limitTo: 6">
        <td>
            <a href="#/users/{{friend['username']}}">
                <img ng-if="friend['profileImageData']"
                     class="media-object img-rounded thumbnail pull-right"
                     data-ng-src="{{friend['profileImageData']}}">
                <img ng-if="!friend['profileImageData']"
                     class="media-object img-rounded thumbnail pull-right"
                     src="images/no_photo_available.jpg" alt="No profile picture"/>
                {{friend['name']}}
            </a>
        </td>
    </tr>
    </tbody>
</table>