<div class="container">

    <div class="center-form panel">
        <div class="panel-body">
            <h4 class="text-center"><i class="ion-person-add"></i> Change Password</h4>

            <form method="post"
                  ng-submit="changePasswordForm.$valid &&changePassword(currentUser.oldPassword,currentUser.password,currentUser.confirmPassword)"
                  name="changePasswordForm" novalidate>
                <div class="form-group has-feedback"
                     ng-class="{ 'has-error' : changePasswordForm.oldPassword.$invalid && changePasswordForm.oldPassword.$dirty }">
                    <input class="form-control input-lg" type="password" name="oldPassword" ng-model="currentUser.oldPassword"
                           placeholder="Old Password" required autofocus>
                    <span class="ion-key form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback"
                     ng-class="{ 'has-error' : changePasswordForm.password.$invalid && changePasswordForm.password.$dirty }">
                    <input class="form-control input-lg" type="password" name="password" ng-model="currentUser.password"
                           placeholder="Password" ng-minlength="6" required>
                    <span class="ion-key form-control-feedback"></span>
                </div>

                <div ng-messages="changePasswordForm.password.$error" style="color:maroon" role="alert">
                    <div ng-message="minlength">Password must be at least 6 characters long</div>
                </div>

                <div class="form-group has-feedback"
                     ng-class="">
                    <input class="form-control input-lg" type="password" name="confirmPassword"
                           ng-model="currentUser.confirmPassword"
                           placeholder="Confirm password" compare-to="password" required>
                    <span class="ion-key form-control-feedback"></span>
                </div>

                <div ng-messages="changePasswordForm.confirmPassword.$error" style="color:maroon" role="alert">
                    <div ng-message="compareTo">Passwords do not match</div>
                </div>

                <button type="submit" class="btn btn-block btn-success btn-primary">Change password</button>

                <div ng-if="error" style="white-space: pre;" class="alert alert-danger">{{errorMessage}}</div>
            </form>
        </div>
    </div>

</div>