<div class="container">

    <div class="center-form panel">
        <div class="panel-body">
            <h4 class="text-center"><i class="ion-person-add"></i> Edit profile</h4>

            <form method="post"
                  ng-submit="editProfileForm.$valid && editProfile(currentUser.name,currentUser.email,currentUser.gender,currentUser.newProfilePic,currentUser.newCoverPic)"
                  name="editProfileForm"  novalidate>
                <div class="form-group">
                    <img class="media-object img-rounded thumbnail" ng-if="newProfilePic" ng-src="{{newProfilePic}}">
                    <input type="file" name="newProfilePic" accept="image/png,image/jpg,image/jpeg"
                           ng-model="newProfilePic" custom-on-change="uploadFile"/>
                </div>

                <div ng-if="errorPic" class="alert alert-dismissible alert-danger" style="color:maroon">
                    {{errorPicMessage}}
                </div>

                <div class="form-group has-feedback"
                     ng-class="{ 'has-error' : editProfileForm.name.$invalid && editProfileForm.name.$dirty }">
                    <input class="form-control input-lg" type="text" id="name" name="name" ng-model="currentUser.name"
                           placeholder="Name" ng-pattern="/^[A-Z][a-z]+\s[A-Z][a-z]+$/" required autofocus>
                    <span class="ion-person form-control-feedback"></span>
                </div>

                <div ng-messages="editProfileForm.name.$error" style="color:maroon" role="alert">
                    <div ng-message="pattern">Please enter valid first and last names</div>
                </div>

                <div class="form-group has-feedback"
                     ng-class="{ 'has-error' : editProfileForm.email.$invalid && editProfileForm.email.$dirty }">
                    <input class="form-control input-lg" type="text" id="email" name="email" ng-model="currentUser.email"
                           placeholder="Email" ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" required>
                    <span class="ion-at form-control-feedback"></span>
                </div>

                <div ng-messages="editProfileForm.email.$error" style="color:maroon" role="alert">
                    <div ng-message="pattern">Please enter a valid email</div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : editProfileForm.gender.$invalid && editProfileForm.gender.$dirty }"
                     ng-init="gender=1">
                    <div class="radio">
                        <label for="male">
                            <input type="radio" id="male" name="gender" ng-model="currentUser.gender" value="1">
                            Male
                        </label>

                    </div>
                    <div class="radio">
                        <label for="female">
                            <input type="radio" id="female" name="gender" ng-model="currentUser.gender" value="2">
                            Female
                        </label>
                    </div>
                    <div class="radio">
                        <label for="other">
                            <input type="radio" id="other" name="gender" ng-model="currentUser.gender" value="0">
                            Other
                        </label>
                    </div>
                    <span class="ion-transgender form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <img class="media-object img-rounded thumbnail" ng-if="newCoverPic" ng-src="{{newCoverPic}}">
                    <input type="file" name="newCoverPic" accept="image/png,image/jpg,image/jpeg" ng-model="newCoverPic"
                           custom-on-change="uploadFile"/>
                </div>

                <div ng-if="errorCoverPic" class="alert alert-dismissible alert-danger" ng-model="errorPic"
                     style="color:maroon">{{errorCoverPicMessage}}
                </div>

                <button type="submit" class="btn btn-block btn-primary" ng-disabled="editProfileForm.$invalid">Edit
                    profile
                </button>

                <div ng-if="error" style="white-space: pre;" class="alert alert-danger">{{errorMessage}}</div>
            </form>
        </div>
    </div>

</div>