<form action="">
    <label for="usernameReg">Username:</label>
    <input type="text" id="usernameReg" ng-model="user.username"/>
    <label for="passwordReg">Password:</label>
    <input type="password" id="passwordReg" ng-model="user.password"/>
    <label for="repeatPasswordReg">Password:</label>
    <input type="password" id="repeatPasswordReg" ng-model="user.repeatPassword"/>
    <label for="nameReg">Name:</label>
    <input type="text" id="nameReg" ng-model="user.name"/>
    <label for="emailReg">Email:</label>
    <input type="email" id="emailReg" ng-model="user.email"/>
    <label for="genderReg">Gender:</label>
    <select name="Gender" id="genderReg" ng-model="user.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select>
    <input type="submit" id="register" ng-click="register(user)"/>
    <a href="#/login">Login</a>
</form>