<div class="container">
    <div class="center-form panel">
        <div class="panel-body">
            <h4 class="text-center">{{userViewed['name']}}</h4>

            <img class="media-object img-rounded cover" ng-if="userViewed.coverImageData"
                 ng-src="{{userViewed.coverImageData}}">
            <img class="media-object img-rounded profile" ng-if="userViewed.profileImageData"
                 ng-src="{{userViewed.profileImageData}}">
            <img ng-if="!userViewed.profileImageData"
                 class="media-object img-rounded thumbnail pull-right"
                 src="images/no_photo_available.jpg" alt="No profile picture"/>
        </div>

        <div class="panel-body col-lg-6">
            <div class="row" ng-if="isFriendWall || userViewed['username']===currentUser['username']">
                <form name="postForm" method="post" ng-submit="addPost(postForm.postContent)">
                    <label for="addPost">Post content</label>
                    <input type="text" id="addPost" ng-model="postForm.postContent">
                    <input type="submit" value="Post"/>
                </form>
            </div>

            <div ng-if="isFriendWall">Friend</div>

            <div ng-repeat="post in posts" class="postContainer" id="{{post['id']}}">
                <div ui-view="post"></div>
            </div>

            <div infinite-scroll="update()" infinite-scroll-disabled="!id"></div>
        </div>
        <div class="panel-body col-lg-6" ng-if="isFriendWall || userViewed['username'] === currentUser['username']">
            <a href="#/users/{{userViewed['username']}}/friends">Friends - {{friends.length}} total</a>

            <div ui-view="friends"></div>
        </div>

        <div class="panel-body col-lg-6" ng-show="userViewed" ng-if="!isFriendWall && userViewed['username']!==currentUser['username']">
            <h2>Send a friend request to see {{userViewed['name']}}'s friends</h2>
            <button ng-click="sendRequest()">Send friend request
            </button>
        </div>
    </div>
</div>