<div class="container">
    <div class="center-form panel">
        <div class="panel-body">
            <h4 class="text-center">{{userViewed['name']}}</h4>

            <img class="media-object img-rounded cover" ng-if="userViewed.coverImageData"
                 ng-src="{{userViewed.coverImageData}}">
            <img class="media-object img-rounded profile" ng-if="userViewed.profileImageData"
                 ng-src="{{userViewed.profileImageData}}">

            <div class="row" ng-if="isFriendWall || userViewed['username']===currentUser['username']">
                <form name="postForm" method="post" ng-submit="addPost(postForm.postContent)">
                    <label for="addPost">Post content</label>
                    <input type="text" id="addPost" ng-model="postForm.postContent">
                    <input type="submit" value="Post"/>
                </form>
            </div>

            <button ng-if="!isFriendWall && userViewed['username']!==currentUser['username']"
                    ng-click="sendRequest()">Send friend request
            </button>

            <div ng-if="isFriendWall" >Friend</div>

            <div ng-repeat="post in userPosts" class="postContainer col-lg-6" id="{{post['id']}}">
                <div>
                    <img ng-if="post['author']['profileImageData']"
                         class="media-object img-rounded thumbnail pull-right"
                         data-ng-src="{{post['author']['profileImageData']}}">
                    <span>{{post['author']['name']}}</span>
                </div>
                <div>{{post['date'] | date:'dd.MM.yyyy H:mm:ss'}}</div>
                <p>{{post['postContent']}}</p>

                <div>
                    <span ng-if="post['likesCount']>0">Likes: {{post['likesCount']}}</span>
                    <button ng-if="!post['liked'] && (post['wallOwner']['isFriend'] || post['author']['isFriend'] || post['author']['username'] === currentUser['username'])"
                            ng-click="like(post['id'])">Like
                    </button>
                    <button ng-if="post['liked'] && (post['wallOwner']['isFriend'] ||post['author']['isFriend'] || post['author']['username'] === currentUser['username'])"
                            ng-click="unlike(post['id'])">Unlike
                    </button>
                    <button ng-if="post['wallOwner']['username'] === currentUser['username'] || post['author']['username'] === currentUser['username']"
                            ng-click="deletePost(post['id'])">Delete Post
                    </button>
                    <form ng-if="post['author']['username'] === currentUser['username']" name="editPostForm"
                          method="post"
                          ng-submit="editPost(post['id'],editPostForm.newText)">
                        <label for="newText">New text</label>
                        <input type="text" id="newText" ng-model="editPostForm.newText"/>
                        <input type="submit" value="Edit Post"/>
                    </form>
                </div>
                <div class="comments" ng-repeat="comment in post['comments']">
                    <p>{{comment['commentContent']}}</p>
                </div>
            </div>
        </div>
    </div>
</div>