<div class="container">
    <div ng-if="!isAuthenticated()">
        <div class="jumbotron">
            <h2><i class="ion-images"></i> Social Network</h2>
            <p>This is a basic Social Network. To continue, please log in or create a new account.</p>
            <p>
                <a class="btn btn-lg btn-success" href="#/login"><i class="ion-log-in"></i> Log in</a>
                <a class="btn btn-lg btn-primary" href="#/register"><i class="ion-person-add"></i> Create account</a>
            </p>
        </div>
    </div>

</div>